{% extends 'ttmhome.html' %}
{% block 'b1'  %}
<h2 align="center"> <font color ="black ">Packages Available </font> </h2>
<table align="center" border="2">
    <thead bgcolor="lightblue">
    <tr>
    <td> Tour Code</td>
    <td> Tour Name</td>
    <td> Tour Package </td>
    <td> Tour Description </td>
    </tr>
    </thead>
    {% for i in placesdata %}
    <tr align="center">
    <td>{{i.tourcode}}</td>
    <td>{{i.tourname}}</td>
    <td>{{i.tourpackage}}</td>
    <td>{{i.desc}}</td>
    </tr>
</table>
 {% endfor %}
{% endblock %}